body {
  width:700px;
  height:700px;
  background-color:#E0ECF8;
  overflow:auto;
}

.center {
  margin:auto;
  width 70%;
}

.left {
  float:left;
}

#error {
  margin-top:25px;
  color:red;
  font-weight:bold;
  font-family:monospace;
  font-size:16px;
  width:80%
}

#input {
  width:70%;
  margin-top:25px;
}

#output {
  width:90%;
  margin-top:50px;
}

.hidden {
  display:none;
}

.letter {
  float:left;
  width:10%;
}

.answer {
  float:left;
  width:85%;
}

.choice {
  margin:10px;
  overflow:auto;
}

#prompt {
  margin:5px;
  padding-bottom:20px;
  margin-bottom:20px;
  margin-top:20px;
}

.border {
  border-bottom-style:solid;
  border-width:5px;
  margin:5px;
}

.underline {
  border-bottom-style:solid;
  border-width:2px;
}

.selected_answer {
  background-color:#CEF6D8;
  border-style:dotted;
  border-width:1px;
}

.hover_selected {
  background-color:#81F79F;
}


